<main class="container">
  <%= render partial: 'layouts/top', locals: {title: "Keychain: #{@keychain.name}" } %>

  <% if @keychain.accounts.empty? %>
    <div class='row mb-3'>
      <p class='col-12'>There are no accounts in this keychain, you should add some. </p>
    </div>
  <%else%>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Url</th>
        </tr>
      </thead>
        <% @keychain.accounts.each do |acnt| %>
          <tbody>
            <tr>
              <th scope="row"><%= link_to acnt.name, keychain_account_path(@keychain.id, acnt.id), class: "btn btn-block btn-outline-primary" %></th>
              <td class="text-center"><%=acnt.url%></td>
            </tr>
          </tbody>
        <%end%>
    </table>
  <%end%>

  <%= render partial: 'layouts/btn_primary', locals: {text: 'Create an account', url: new_keychain_account_path(@keychain) } %>

  <% if @user_membership.admin %>
    <div class='row d-flex justify-content-center'>
      <h3 class='col text-center text-warning font-weight-bold'>Admin:</h3>
      <%= render partial: 'keychains/btn_admin', locals: {text: 'View active members', url: keychains_active_members_path(@keychain.id) } %>
      <%= render partial: 'keychains/btn_admin', locals: {text: 'View inactive members', url: keychains_inactive_members_path(@keychain.id) } %>
      <%= render partial: 'keychains/btn_admin', locals: {text: 'Edit keychain', url: edit_keychain_path(@keychain) } %>
      <%= render partial: 'keychains/btn_admin', locals: {text: 'Invite new member', url: new_keychain_membership_path(@keychain.id) } %>
    </div>
  <% end %>

  <%= render partial: 'layouts/footer', locals: {show: 'keychain'} %>
</main>
