<main class="container">
  <%= render partial: 'layouts/top', locals: {title: "Keychain: #{@keychain.name}" } %>

  <% if @keychain.accounts.empty? %>
    <div class='row mb-3'>
      <p class='col-12'>There are no accounts in this keychain, you should add some. </p>
    </div>
  <%else%>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Url</th>
        </tr>
      </thead>
        <% @keychain.accounts.each do |acnt| %>
          <tbody>
            <tr>
              <th scope="row"><%= link_to acnt.name, keychain_account_path(@keychain.id, acnt.id), :class => "btn btn-block btn-outline-primary" %></th>
              <td class="text-center"><%=acnt.url%></td>
            </tr>
          </tbody>
        <%end%>
    </table>
  <%end%>

  <%= render partial: 'layouts/btn_primary', locals: {text: 'Create an account', url: new_keychain_account_path(@keychain) } %>


  <% if @user_membership.admin %>
    <div class='row mb-3'>
      <%= link_to 'Admin: Edit keychain', edit_keychain_path(@keychain), class: "btn btn-warning btn-lg btn-block" %>
    </div>
    <div class='row mb-3'>
      <%= link_to 'Admin: Invite new member', new_keychain_membership_path(@keychain.id), class: "btn btn-warning btn-lg btn-block" %>
    </div>
  <% end %>

  <%= render partial: 'layouts/footer', locals: {show: 'keychain'} %>
</main>
