<main class="container">
  <%= render partial: 'layouts/top', locals: {title: "Add members to #{@keychain.name} Keychain" } %>

  <div class='row mb-3'>
    <div class="col-sm-12">
      <%= form_with model: Membership.new, url: {action: "create"}, class: ['col-12', 'needs-validation'] do |form| %>
        <%= form.hidden_field(:kc, value: @keychain.id) %>
        <%= form.label :user_email, "User Email"%>
        <%= form.email_field :user_email, required: true, class: "form-control"%> <br>
        <div class="custom-control custom-checkbox">
          <%= form.check_box :invite_as_admin, { class: 'custom-control-input' }%>
          <%= form.label :invite_as_admin, { class: "custom-control-label" } %>
        </div>
        <%= form.submit "Add Member", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'layouts/footer', locals: {show: nil} %>
</main>
