<main class="container">
  <div class='row mb-3'>
    <div class="col-12">
      <h2 class="display-3 text-center">Login into Toy Password Manager</h2>
    </div>
  </div>

  <div class='row mb-3'>
    <div class="col-sm-12">
      <%= form_with url: login_url, method: 'post', class: ['col-12', 'needs-validation'] do |form| %>
        <%= form.label :email, "Email"%>
        <input type="email" id="email" name="auth[email]" placeholder="user@example.com" class="form-control mb-3" autofocus required>
        <%= form.label :password, "Password"%>
        <input type="password" id="password" name="auth[password]" minlength="8" class="form-control mb-3" required>
        <%= form.submit "Login", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>

  <hr>
  <div class='row my-3'>
    <%= link_to 'Frontpage', '/', :class => "btn btn-secondary btn-sm col-sm-12" %>
  </div>
</main>
