<main class="container">
  <%= render partial: 'layouts/top', locals: {title: "Hello #{@user.name}"} %>

  <% if @user.keychains.empty? %>
    <div class='row mb-3'>
      <p class='col-12'>Your are not part of any keychains ask admins to invite you or create your own.</p>
    </div>
  <%else%>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Keychain</th>
          <th scope="col">Admin</th>
          <th scope="col">Membership</th>
          <th scope="col">Active Membership count</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <% @user.keychains.each do |kc| %>
        <% my_membership = kc.memberships.find_by(user_id: @user.id) %>
        <tbody>
          <tr>
            <% if my_membership.invite_status == 'accepted' %>
              <td scope="row"><%= link_to kc.name, keychain_path(kc), :class => "btn btn-outline-primary btn-block" %></td>
            <% else %>
              <td scope="row"><span class="text-muted"><%= kc.name %></span></td>
            <%end%>
            <td class="text-center"><%=my_membership.admin ? 'Yes' : 'No' %></td>
            <td><%=my_membership.invite_status%></td>
            <td class="text-center"><%=kc.active_members.count%></td>

            <% case my_membership.invite_status%>
            <% when 'pending' %>
              <td>
                <%= form_with url: user_membership_path(@user, my_membership), method: "patch" do |form| %>
                  <%= form.button 'Accept', value: 'accept', name: "invite_action", class: "btn btn-block btn-outline-warning" %>
                  <%= form.button 'Decline', value: 'decline', name: "invite_action", class: "btn btn-block btn-outline-warning" %>
                <% end %>
              </td>
            <% when 'accepted' %>
              <td>
                <%= form_with url: user_membership_path(@user, my_membership), method: "patch" do |form| %>
                  <%if kc.active_members.count == 1%>
                    <%= form.button 'Leave and Delete Keychain', value: 'leave', name: 'invite_action', class: 'btn btn-block btn-outline-danger' %>
                  <%else%>
                    <%= form.button 'Leave', value: 'leave', name: 'invite_action', class: 'btn btn-block btn-outline-warning' %>
                  <% end %>
                <% end %>
              </td>
            <% else %>
              <td><button class ="btn btn-block btn-outline-dark" disabled>No Action Available</button></td>
            <%end%>

          </tr>
        </tbody>
      <%end%>
    </table>
  <%end%>

  <div class='row my-3'>
    <%= link_to 'Create a keychain', new_keychain_path, :class => "btn btn-primary btn-lg btn-block" %>
  </div>

  <div class='row mb-3'>
    <%= link_to 'Edit Your account', edit_user_path(get_user), class: "btn btn-primary btn-lg btn-block" %>
  </div>

  <%= render partial: 'layouts/footer', locals: {show: 'user'} %>
</main>
