<main class="container">
  <div class='row mb-3'>
      <h2 class=" col-12 display-3 text-center">Keychain `<%= @keychain.name%>` Accounts</h2>
  </div>

  <div class='row mb-3'>
    <p class="col-12 text-left"><strong>Account Name:</strong> <%= @account.name %></p>
  </div>

  <div class='row mb-3'>
    <p class="col-12 text-left"><strong>Account Url:</strong> <%= @account.url %></p>
  </div>

  <div class='row mb-3'>
    <p class=" col-12 text-left"><strong>Account Username:</strong> <%= @account.username %></p>
  </div>

  <div class='row mb-3'>
    <p class=" col-12 text-left"><strong>Account Password:</strong> <%= @account.password %></p>
  </div>

  <div class='row mb-3'>
    <%= link_to 'Edit Account', edit_keychain_account_path(@account.id), class: "btn btn-primary btn-lg btn-block" %>
  </div>

  <hr class='mb-3'>
  <div class='row my-3'>
    <%= link_to 'Frontpage', '/' , :class => "btn btn-secondary btn-sm col-sm-12" %>
  </div>
</main>
