<h2>Welcome to Toy Password manager</h2>
<p> Sign up to store and share accounts and passwords</p>
<p> <strong>Important: </strong> This is a toy password manager and everything is stored in plain text. <strong>Do not </strong> store any real info here </p>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited the signup:
    </h3>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div>
  <%= form_for @user, url: {action: "create"} do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, required: true%> <br>
    <%= form.label :email%>
    <%= form.email_field :email, required: true %> <br>
    <%= form.label :email_confirmation %>
    <%= form.email_field :email_confirmation, required: true %> <br>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %> <br>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %><br>
    <%= form.submit "Sign Up" %>
  <% end %>
</div>

