<main class="container">
  <%= render partial: 'layouts/top', locals: {title: "Edit Account: #{@account.name}" } %>

  <div class='row mb-3'>
    <div class="col-sm-12">
      <%= form_with model: @account, url: {action: "update"}, class: ['col-12', 'needs-validation'] do |form| %>
        <%= form.label :name, "Account Name" %>
        <%= form.text_field :name, required: true, class: "form-control"%> <br>
        <%= form.label :url, "Url"%>
        <%= form.text_field :url, required: true, class: "form-control"%> <br>
        <%= form.label :username, "Account Username"%>
        <%= form.text_field :username, required: true, class: "form-control"%> <br>
        <%= form.label :password, "Account Password (not your login password)"%>
        <%= form.text_field :password, required: true, class: "form-control"%> <br>
        <%= form.submit "Update", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>

  <div class='row mb-3'>
    <div class="col-sm-12">
      <%= form_with url: keychain_account_path(@keychain.id, @account.id), method: 'delete' do |form| %>
        <%= form.submit "Delete this account/password", class: "btn btn-danger btn-lg btn-block" %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'layouts/footer', locals: {show: nil} %>
</main>
