<main class="container">
  <%= render partial: 'layouts/top', locals: {title: "Account: #{@account.name}" } %>

  <div class='row mb-3'>
    <p class="col-12 text-left"><strong>Account Name:</strong> <%= @account.name %></p>
  </div>

  <div class='row mb-3'>
    <p class="col-12 text-left"><strong>Account Url:</strong> <%= @account.url %></p>
  </div>

  <div class='row mb-3'>
    <p class=" col-12 text-left"><strong>Account Username:</strong> <%= @account.username %></p>
  </div>

  <div class='row mb-3'>
    <p class=" col-12 text-left"><strong>Account Password:</strong> <%= @account.password %></p>
  </div>

  <div class='row mb-3'>
    <%= link_to 'Edit Account', edit_keychain_account_path(@keychain.id, @account.id), class: "btn btn-primary btn-lg btn-block" %>
  </div>

  <hr class='mb-3'>
  <div class='row my-3'>
    <%= link_to 'Frontpage', '/' , :class => "btn btn-secondary btn-sm col-sm-12" %>
  </div>
</main>
