<main class="container">
  <%= render partial: 'layouts/top', locals: {title: "Account: #{@account.name}" } %>

  <div class='row mb-3'>
    <p class="col-12 text-left"><strong>Account Name:</strong> <%= @account.name %></p>
  </div>

  <div class='row mb-3'>
    <p class="col-12 text-left"><strong>Account Url:</strong> <%= @account.url %></p>
  </div>

  <div class='row mb-3'>
    <p class=" col-12 text-left"><strong>Account Username:</strong> <%= @account.username %></p>
  </div>

  <div class='row mb-3'>
    <p class=" col-12 text-left"><strong>Account Password:</strong> <%= @account.password %></p>
  </div>

  <%= render partial: 'layouts/btn_primary', locals: {text: 'Edit Account', url: edit_keychain_account_path(@keychain.id, @account.id) } %>

  <%= render partial: 'layouts/footer', locals: {show: 'account'} %>
</main>
